/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Variables */
:root {
    font-size: 16px;

    /* colors */
    --slate-900: #1f314f;
    --slate-500: #68778d;
    --slate-300: #d5e1ef;
    --white: #fff;     
}

/* box -sizing */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

/* Typography */

.outfit--text-style-bold {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
}

.outfit--text-style-reg {
    font-family: "outfit, serif";
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

/* Main Styles */

body {
    background-color: var(--slate-300);
    height: 100vh;
   
}

.container {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    background-color: var(--white);
    border-radius: 20px;
    height: 31.1875rem;
    width: 20rem;
    padding: 1rem 1rem 2.5rem 1rem;
}

.hero {
    height: 18rem;
    width: 18rem;
    border-radius: 10px;
}

.qr-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;;
}

.text {
    width: 18rem;
    height: 8.1875rem;
    margin-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.main-heading {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--slate-900);
}

.main-copy {
    margin: 0rem;
    text-align: center;
    color: var(--slate-500);
}

footer.attribution {
    height: 5%;
    margin-top: auto;
}

.footer-content {
    width: 75%;
    margin: 0px auto;
    font-size: 0.5rem;
    text-align: center;
    color: var(--slate-900);
}

.footer-content a {
    color: var(--slate-500);
    text-decoration: none;
}